<!DOCTYPE html>
<html>
    <head>
        <title>Node Blog{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>

{{{html}}}

    </body>
</html>